body {
  background-color: #eaeaea
}
#gameboardContainer {
  display: flex;
  /*flex-flow: row;*/
  flex-wrap: wrap;
  width: 1000px;
  height: 300px;
  border: 2px solid black;
  padding: 10px;
}
.letterBox {
  width: 80px;
  height: 80px;
  background-color: black;
  opacity: 0.7;
  margin: 10px;
}
.letter {
  display: none;
  margin: 0;
  line-height: 80px;
  text-align: center;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
}
#guessBox {
  /*float: left;*/
  width: 300px;
}
/*#scoreDisplay {
  float: left;
  width: 300px;
  height: 80px;
  border: 2px solid black;
}*/
#guessTextDisplay{
  width: 200px;
  height: 50px;
  border: 2px solid black;
  padding: 5px;
}
#guessTextDisplay > p {
  color: black;
  font-size: 30px;
  line-height: 50px;
  margin: 0;
  text-transform: uppercase;
}
#guessText {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}
